/* This file is for your main application css. */

@import "../../deps/phoenix_live_view/assets/css/live_view.css";

h3, h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  justify-content: space-between;
  width: 1012px;
}

.header h3 {
  margin: 0;
  line-height: 34px;
}

.header-crews div {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 3px 4px;
  border-radius: 3px;
  margin-right: 3px;
}

.header-crews img {
  max-width: 24px;
  max-height: 28px;
}

.available {
  background-color: #eee;
}

.unavailable {
  background-color: #999;
  opacity: .8;
}

body {
  padding: 0 100px;
  background-color: #e1c699;
  font-family: 'Open Sans', sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
}

.city-grid {
  position: relative;
  width: calc(98px * 4 * 1.5);
  height: calc(104px * 4 * 1.5);
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 0;
  flex-grow: 0;
}

.location-image-div {
  position: absolute;
  background-color: #90bb8f;
  top: 13px;
  right: 16px;
  min-width: 118px;
  min-height: 130px;
}

.location-image {
  height: 80px;
  padding-top: 25px;
  padding-left: 20px;
}

.messages {
  flex-shrink: 0;
  flex-grow: 0;
  max-height: calc(104px * 4 * 1.5);
  overflow: auto;
  width: 400px;
  background: #ddd;
  margin-left: 20px;
}

.messages h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.d {
  background-color: #fcc;
}

.d h4{
  color:#a00;
}

.b {
  background-color: #cfc;
}

.b h4{
  color:#080;
}

.messages ul {
  margin: 0;
  padding: 0;
}

.messages li {
  padding: 14px 20px;
  list-style: none;
  border-bottom: 1px solid #bbb;
}

.block {
  position: relative;
  flex-basis: 1;
  width: calc(98px * 1.5);
  height: calc(104px * 1.5);
  background-image: url(/images/block-bg.png);
  background-size: cover;
}

.icon-bar {
  background: #eee;
  position: absolute;
  border-radius: 3px;
  width: 105px;
  height: 36px;
}

.block .alarms {
  top: 8px;
  left: 8px;
}

.block .crews {
  bottom: 8px;
  right: 8px;
}

.icon-bar img {
  position: inline-block;
  max-width: 24px;
  max-height: 28px;
  padding: 3px 4px;
}

.progress-bar{
  position:relative;
  height: 6px;
  width: 100%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom: 1px solid #ddd;
}
.progress-bar .inner{
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.crews .progress-bar .inner{
  background-color: #080;
}
.alarms .progress-bar .inner{
  background-color: #a00;
}

.end-screen {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 600px;
  width: 1110px;
  background-color: #000;
  opacity: 0.9;
}

.end-lose-text {
  color: red;
  font-size: 72px;
  position: absolute;
  top: 100px;
  left: 250px;
}

.end-win-text {
  color: green;
  font-size: 72px;
  position: absolute;
  top: 75px;
  left: 250px;
}
